{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Eldern Saga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'imagens/icon.png' %}" />
</head>

<body>
    <div class="tituloH">
        <h1 class="tituloArea">Eldern Saga</h1>
    </div>
    <div id="buttonDiv">
        <button class="buttonSelect" id="btnMonstros">Monstros</button>
        <button class="buttonSelect" id="btnMapa">Mapa</button>
    </div>
    <div id="monstrosDiv">
        <div class="tituloH">
            <h2 class="tituloArea">Livro dos Monstros</h2>
        </div>
        <table id="tableMob">
                {% for monstro in monstros %}
                    <tr class="monstrosTR">
                        <td class="tdIMG">
                            <img class="imgMonstro" src="{{monstro.imagem.url}}">
                        </td>
                        <td class="monstroATT">
                            <table class="mobsATS">
                                <tr>
                                    <td>
                                        <p>Nome: {{monstro.nome}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Level: {{monstro.level}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Ataque: {{monstro.ataque}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Vida: {{monstro.vida}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Mana: {{monstro.mana}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Defesa: {{monstro.defesa}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Resistência: {{monstro.resistencia}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Exp garantido: {{monstro.exp}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Alinhamento: {{monstro.alinhamento}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Classe: {{monstro.classe}}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
    </div>
    <script 
    src="https://code.jquery.com/jquery-3.3.1.slim.js"
    integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
    crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
    <!--JQuery-->
    
</body>

</html>